body {
  display: grid;
  place-items: center;
  min-width: 100vh;
  min-height: 100vh;
  background-image: url(/background.jpg);
}

.container {
  padding: 1.6rem;
  border-radius: 1.8rem;
  background-color: #212529;
}

.screen,
.result {
  font-size: 1.5rem;
  display: flex;
  padding: 0.2rem;
  border: none;
  outline: none;
  box-shadow: none;
  padding-right: 3rem;
  color: #f8f9fa;
  background-color: rgb(74, 73, 73);
}

.screen {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.result {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.ac-container {
  display: grid;
  justify-content: end;
  position: relative;
  bottom: 3.8rem;
}

.btn {
  width: 4rem;
  padding: 1rem;
  background-color: #f8f9fa;
}

.btn-sm {
  border: none;
  line-height: 2;
  padding: 0.25rem;
  font-size: 0.875rem;
  border-radius: 0.3rem;
  color: rgb(74, 73, 73);
}
