body {
  display: grid;
  place-items: center;
  min-width: 100vh;
  min-height: 100vh;
  background-image: url(/background.jpg);
}

.container {
  padding: 1.6rem;
  border-radius: 1.8rem;
  background-color: #212529;
}

.screen,
.result {
  font-size: 1.5rem;
  display: flex;
  border: none;
  outline: none;
  box-shadow: none;
  padding-right: 3rem;
  color: #f8f9fa;
  background-color: rgb(74, 73, 73);
}

.screen {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.result {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.ac-contain {
  display: grid;
  left: 1.5rem;
  bottom: 3.6rem;
  position: relative;
  justify-content: end;
}

.btn {
  width: 4rem;
  padding: 1rem;
  background-color: #f8f9fa;
}

.btn-sm {
  border: none;
  line-height: 2;
  padding: 0.25rem;
  font-size: 0.875rem;
  border-radius: 0.3rem;
  color: rgb(74, 73, 73);
}

@media (min-width: 1000px) {
  .screen,
  .result {
    display: flex;
    right: 5.9rem !important;
    border: none;
    outline: none;
    position: relative;
    box-shadow: none;
    font-size: 1.5rem;
    color: #f8f9fa;
    background-color: rgb(74, 73, 73);
  }

  .ac-contain {
    display: grid;
    bottom: 3.8rem;
    left: 7.5rem;
    position: relative;
    justify-content: end;
  }
}

@media (min-width: 575px) {
  .screen,
  .result {
    display: flex;
    right: 2.4rem;
    border: none;
    outline: none;
    position: relative;
    box-shadow: none;
    font-size: 1.5rem;
    color: #f8f9fa;
    background-color: rgb(74, 73, 73);
  }
  .ac-container {
    display: grid;
    left: 4.2rem !important;
    bottom: 3.8rem;
    position: relative;
    justify-content: end;
  }
}

@media (min-width: 768px) {
  .screen,
  .result {
    display: flex;
    right: 4.2rem;
    border: none;
    outline: none;
    position: relative;
    box-shadow: none;
    font-size: 1.5rem;
    color: #f8f9fa;
    background-color: rgb(74, 73, 73);
  }

  .ac-container {
    display: grid;
    left: 2rem;
    bottom: 3.8rem;
    position: relative;
    justify-content: end;
  }
}

@media (max-width: 575px) {
  .ac-container {
    display: grid;
    left: 2rem !important;
    bottom: 3.8rem;
    position: relative;
    justify-content: end;
  }
}
